Project01/obj/Debug/net8.0/Project01.AssemblyInfo.cs
Project01/obj/Debug/net8.0/Project01.AssemblyInfoInputs.cache
Project01/obj/Debug/net8.0/Project01.GeneratedMSBuildEditorConfig.editorconfig
Week1/Hackathon/obj/Debug/net8.0/Hackathon.AssemblyInfo.cs
Week1/Hackathon/obj/Debug/net8.0/Hackathon.AssemblyInfoInputs.cache
Week1/Hackathon/obj/Debug/net8.0/Hackathon.GeneratedMSBuildEditorConfig.editorconfig
Week2/Grocery/obj/Debug/net8.0/Grocery.AssemblyInfo.cs
Week2/Grocery/obj/Debug/net8.0/Grocery.AssemblyInfoInputs.cache
Week2/Grocery/obj/Debug/net8.0/Grocery.GeneratedMSBuildEditorConfig.editorconfig
Week2/Hackathon2/obj/Debug/net8.0/Hackathon2.AssemblyInfo.cs
Week2/Hackathon2/obj/Debug/net8.0/Hackathon2.AssemblyInfoInputs.cache
Week2/Hackathon2/obj/Debug/net8.0/Hackathon2.GeneratedMSBuildEditorConfig.editorconfig
